fastapi==0.139.0
uvicorn==0.50.0
psycopg2-binary==2.9.12
requests==2.34.2
beautifulsoup4==4.15.0
python-dotenv==1.2.2
SQLAlchemy==2.0.51
alembic==1.18.5
pwdlib[argon2]==0.3.0
email-validator==2.3.0
python-ulid==4.0.1
pillow==11.3.0
python-multipart==0.0.20
itsdangerous==2.2.0
